# Dept for Culture, Media & Sport 

## Participation Survey 2023â€“24 annual publication

In [1]:
import pandas as pd
import os
from pathlib import Path

In [2]:
DATA_DIR = Path('../../data/dcms/Revised_DCMS_Participation_Survey_annual_23-24_data_tables__Oct_2024_.ods')
OUT_DIR = Path('../../src/data/dcms/participation/_data/')

sheet_description_dict = {  
    'Table_A3': 'Adults who engaged with arts in person',
    'Table_A5': 'Art exhibition',
    'Table_A7': 'Theatre, musical, ballet or opera',
    'Table_A9': 'Literature and poetry events',
    'Table_A11': 'A cinema screening',
    'Table_A13': 'A craft exhibition',
    'Table_A15': 'A live music event',
    'Table_A17': 'An arts festival',
    'Table_A19': 'A street art event',
    'Table_A21': 'A live dance event',
    'Table_A23': 'A fashion show',
    'Table_A25': 'A comedy event',
    'Table_A27': 'An in-persion e-sports event',
    'Table_A29': 'Some other cultural event',
    'Table_A31': 'Not attended any events',
    'Table_A33': 'Written stories, plays, or poetry',
    'Table_A35': 'Read books or graphic novels',
    'Table_A37': 'Written or performed music',
    'Table_A39': 'Painting, drawing',
    'Table_A41': 'Crafts',
    'Table_A43': 'Performed a drama / dance routine',
    'Table_A45': 'Designed or programmed video games',
    'Table_A47': 'Made films or videos',
    'Table_A49': 'Photography',
    'Table_A51': 'Read news in a printed newspaper',
    'Table_A53': 'Other arts or creative activities',
    'Table_A55': 'Not participated'
}

columns_of_interest = [
    'Response Breakdown ',
    'Percentage of respondents 2023/24',
    'Percentage of respondents 2023/24 Lower estimate',
    'Percentage of respondents 2023/24 Upper estimate',
    '2023/24 No. of respondents',
    '2023/24 Base',
    'LAD23 code'
]

engagement = [
    'Table_A3',
    'Table_A5',
    'Table_A7'
]

attendance = [
    'Table_A9',
    'Table_A11',
    'Table_A13',
    'Table_A15',
    'Table_A17',
    'Table_A19',
    'Table_A21',
    'Table_A23',
    'Table_A25',
    'Table_A27',
    'Table_A29',
    'Table_A31'
]

participation = [
    'Table_A33',
    'Table_A35',
    'Table_A37',
    'Table_A39',
    'Table_A41',
    'Table_A43',
    'Table_A45',
    'Table_A47',
    'Table_A48',
    'Table_A49',
    'Table_A51'
]

### Read the raw data

In [3]:
data = pd.read_excel(DATA_DIR, engine='odf', sheet_name=None, skiprows=4)

### Create headlines

In [4]:

summaries = data['Table_A1']
summaries = (
    summaries.drop(columns={
    'Percentage of respondents 2023/24 Lower estimate',
    'Percentage of respondents 2023/24 Upper estimate',
    '2023/24 No. of respondents', 
    '2023/24 Base',
    'Percentage of respondents 2022/23 Lower estimate',
    'Percentage of respondents 2022/23 Upper estimate', 
    '2022/23 No. of respondents', 
    '2022/23 Base'
    })
)


summaries['Percentage of respondents 2023/24'] = (
    pd.to_numeric(summaries['Percentage of respondents 2023/24'], errors='coerce')
    .fillna(0)
    .round(0)
    .astype(int)
)
summaries['Percentage of respondents 2022/23'] = (
    pd.to_numeric(summaries['Percentage of respondents 2022/23'], errors='coerce')
    .fillna(0)
    .round(0)
    .astype(int)
)

summaries['ID'] = [f'response_{i + 1}' for i in range(len(summaries))]

summaries = summaries.set_index('ID')

summaries.to_csv(os.path.join(OUT_DIR, 'headlines.csv'))

OSError: Cannot save file into a non-existent directory: '../../src/data/dcms/_data/participation'

In [ ]:
sheets = [f'Table_A{i}' for i in range(3, 56, 2)]

all_filtered_data = []

for sheet in sheets:
    data = pd.read_excel(DATA_DIR, engine='odf', sheet_name=sheet, skiprows=4)
    filtered_data = data[data['LAD23 code'] == 'E08000021']
    filtered_data = filtered_data[columns_of_interest]
    filtered_data['Sheet Name'] = sheet
    filtered_data['Description'] = sheet_description_dict.get(sheet, '')
    all_filtered_data.append(filtered_data)
    print('sheet number: ' + sheet)

final_data = pd.concat(all_filtered_data, ignore_index=True)

sheet number: Table_A3
sheet number: Table_A5
sheet number: Table_A7
sheet number: Table_A9
sheet number: Table_A11
sheet number: Table_A13
sheet number: Table_A15
sheet number: Table_A17
sheet number: Table_A19
sheet number: Table_A21
sheet number: Table_A23
sheet number: Table_A25
sheet number: Table_A27
sheet number: Table_A29
sheet number: Table_A31
sheet number: Table_A33
sheet number: Table_A35
sheet number: Table_A37
sheet number: Table_A39
sheet number: Table_A41
sheet number: Table_A43
sheet number: Table_A45
sheet number: Table_A47
sheet number: Table_A49
sheet number: Table_A51
sheet number: Table_A53
sheet number: Table_A55

In [ ]:
percentage_respondents = final_data.drop(columns={
    'Response Breakdown ',
    'Percentage of respondents 2023/24 Lower estimate',
    'Percentage of respondents 2023/24 Upper estimate', 
    '2023/24 No. of respondents',
    '2023/24 Base',
    'LAD23 code'
}).set_index('Description')

percentage_respondents['Percentage of respondents 2023/24'] = percentage_respondents['Percentage of respondents 2023/24'].astype(int)

# total = percentage_respondents.drop(columns={'Sheet Name'}).to_csv(os.path.join(OUT_DIR, 'articipation_survey_23_24_newcastle.csv'))
engagement_data = percentage_respondents.loc[percentage_respondents['Sheet Name'].isin(engagement)].drop(columns={'Sheet Name'}).to_csv(os.path.join(OUT_DIR, 'engagement_participation_survey_23_24_newcastle.csv'))
attendance_data = percentage_respondents.loc[percentage_respondents['Sheet Name'].isin(attendance)].drop(columns={'Sheet Name'}).to_csv(os.path.join(OUT_DIR, 'attendance_participation_survey_23_24_newcastle.csv'))
participation_data = percentage_respondents.loc[percentage_respondents['Sheet Name'].isin(participation)].drop(columns={'Sheet Name'}).to_csv(os.path.join(OUT_DIR, 'participation_survey_23_24_newcastle.csv'))

In [ ]:
final_data

,Response Breakdown,Percentage of respondents 2023/24,Percentage of respondents 2023/24 Lower estimate,Percentage of respondents 2023/24 Upper estimate,2023/24 No. of respondents,2023/24 Base,LAD23 code,Sheet Name,Description
0,Newcastle upon Tyne,88.693857,85.129525,91.48926,580,643,E08000021,Table_A3,Adults who engaged with arts in person
1,Newcastle upon Tyne,26.311318,22.498326,30.516084,181,643,E08000021,Table_A5,Art exhibition
2,Newcastle upon Tyne,34.532236,30.307837,39.015811,236,643,E08000021,Table_A7,"Theatre, musical, ballet or opera"
3,Newcastle upon Tyne,9.027214,6.817167,11.862524,62,643,E08000021,Table_A9,Literature and poetry events
4,Newcastle upon Tyne,54.580619,49.83312,59.246262,351,643,E08000021,Table_A11,A cinema screening
5,Newcastle upon Tyne,8.871178,6.743894,11.586122,56,643,E08000021,Table_A13,A craft exhibition
6,Newcastle upon Tyne,36.678582,32.358037,41.224433,247,643,E08000021,Table_A15,A live music event
7,Newcastle upon Tyne,18.984179,15.833322,22.593742,125,643,E08000021,Table_A17,An arts festival
8,Newcastle upon Tyne,6.631958,4.776032,9.139858,46,643,E08000021,Table_A19,A street art event
9,Newcastle upon Tyne,5.715846,3.990679,8.123696,35,643,E08000021,Table_A21,A live dance event
10,Newcastle upon Tyne,1.611832,0.841326,3.066165,10,643,E08000021,Table_A23,A fashion show
11,Newcastle upon Tyne,12.402296,9.663837,15.781194,77,643,E08000021,Table_A25,A comedy event
12,Newcastle upon Tyne,2.527328,1.425924,4.44114,15,643,E08000021,Table_A27,An in-persion e-sports event
13,Newcastle upon Tyne,1.611316,0.780849,3.295683,11,643,E08000021,Table_A29,Some other cultural event
14,Newcastle upon Tyne,25.393063,21.462171,29.771004,160,643,E08000021,Table_A31,Not attended any events
15,Newcastle upon Tyne,7.363152,5.41203,9.943737,45,643,E08000021,Table_A33,"Written stories, plays, or poetry"
16,Newcastle upon Tyne,57.970011,53.407777,62.400021,398,643,E08000021,Table_A35,Read books or graphic novels
17,Newcastle upon Tyne,9.256691,6.982996,12.17382,61,643,E08000021,Table_A37,Written or performed music
18,Newcastle upon Tyne,18.572451,15.327581,22.323158,119,643,E08000021,Table_A39,"Painting, drawing"
19,Newcastle upon Tyne,13.893975,11.215924,17.088397,98,643,E08000021,Table_A41,Crafts
20,Newcastle upon Tyne,2.31806,1.275747,4.175944,13,643,E08000021,Table_A43,Performed a drama / dance routine
21,Newcastle upon Tyne,1.608508,0.853915,3.009682,10,643,E08000021,Table_A45,Designed or programmed video games
22,Newcastle upon Tyne,3.299227,1.97961,5.449599,18,643,E08000021,Table_A47,Made films or videos
23,Newcastle upon Tyne,14.140891,11.429638,17.369163,97,643,E08000021,Table_A49,Photography
24,Newcastle upon Tyne,33.718343,29.752024,37.927937,241,643,E08000021,Table_A51,Read news in a printed newspaper
25,Newcastle upon Tyne,0.66844,0.239647,1.850234,4,643,E08000021,Table_A53,Other arts or creative activities
26,Newcastle upon Tyne,26.3943,22.413751,30.801129,150,643,E08000021,Table_A55,Not participated