# Dept for Culture, Media & Sport 

## Participation Survey 2023â€“24 annual publication

In [1]:
import pandas as pd
import os
from pathlib import Path

In [2]:
DATA_DIR = Path('../../data/dcms/Final_Revised_DCMS_Participation_Survey_annual_23-24_data_tables__February_2025_.ods')
OUT_DIR = Path('../../src/data/dcms/participation/_data/')

sheet_description_dict = {  
    'Table_A3': 'Adults who engaged with arts in person',
    'Table_A5': 'Art exhibition',
    'Table_A7': 'Theatre, musical, ballet or opera',
    'Table_A9': 'Literature and poetry events',
    'Table_A11': 'A cinema screening',
    'Table_A13': 'A craft exhibition',
    'Table_A15': 'A live music event',
    'Table_A17': 'An arts festival',
    'Table_A19': 'A street art event',
    'Table_A21': 'A live dance event',
    'Table_A23': 'A fashion show',
    'Table_A25': 'A comedy event',
    'Table_A27': 'An in-person e-sports event',
    'Table_A29': 'Some other cultural event',
    'Table_A31': 'Not attended any events',
    'Table_A33': 'Written stories, plays, or poetry',
    'Table_A35': 'Read books or graphic novels',
    'Table_A37': 'Written or performed music',
    'Table_A39': 'Painting, drawing',
    'Table_A41': 'Crafts',
    'Table_A43': 'Performed a drama / dance routine',
    'Table_A45': 'Designed or programmed video games',
    'Table_A47': 'Made films or videos',
    'Table_A49': 'Photography',
    'Table_A51': 'Read news in a printed newspaper',
    'Table_A53': 'Other arts or creative activities',
    'Table_A55': 'Not participated'
}

columns_of_interest = [
    'Response Breakdown ',
    'Percentage of respondents 2023/24',
    'Percentage of respondents 2023/24 Lower estimate',
    'Percentage of respondents 2023/24 Upper estimate',
    '2023/24 No. of respondents',
    '2023/24 Base',
    'LAD23 code'
]

engagement = [
    'Table_A3',
    'Table_A5',
    'Table_A7'
]

attendance = [
    'Table_A9',
    'Table_A11',
    'Table_A13',
    'Table_A15',
    'Table_A17',
    'Table_A19',
    'Table_A21',
    'Table_A23',
    'Table_A25',
    'Table_A27',
    'Table_A29',
    'Table_A31'
]

participation = [
    'Table_A33',
    'Table_A35',
    'Table_A37',
    'Table_A39',
    'Table_A41',
    'Table_A43',
    'Table_A45',
    'Table_A47',
    'Table_A48',
    'Table_A49',
    'Table_A51'
]

### Read the raw data

In [3]:
data = pd.read_excel(DATA_DIR, engine='odf', sheet_name=None, skiprows=4)

### Create headlines

In [4]:

summaries = data['Table_A1']
summaries = (
    summaries.drop(columns={
    'Percentage of respondents 2023/24 Lower estimate',
    'Percentage of respondents 2023/24 Upper estimate',
    # '2023/24 No. of respondents', 
    # '2023/24 Base',
    'Percentage of respondents 2022/23 Lower estimate',
    'Percentage of respondents 2022/23 Upper estimate', 
    # '2022/23 No. of respondents', 
    # '2022/23 Base'
    })
)


summaries['Percentage of respondents 2023/24'] = (
    pd.to_numeric(summaries['Percentage of respondents 2023/24'], errors='coerce')
    .fillna(0)
    .round(0)
    .astype(int)
)
summaries['Percentage of respondents 2022/23'] = (
    pd.to_numeric(summaries['Percentage of respondents 2022/23'], errors='coerce')
    .fillna(0)
    .round(0)
    .astype(int)
)

summaries['ID'] = [f'response_{i + 1}' for i in range(len(summaries))]

summaries = summaries.set_index('ID')

summaries.Question = summaries.Question.str.replace(r'\s*(\[.*?\])+\s*$', '', regex=True)

summaries.to_csv(os.path.join(OUT_DIR, 'headlines.csv'))

In [5]:
sheets = [f'Table_A{i}' for i in range(3, 56, 2)]

all_filtered_data = []

for sheet in sheets:
    data = pd.read_excel(DATA_DIR, engine='odf', sheet_name=sheet, skiprows=4)
    filtered_data = data[data['LAD23 code'] == 'E08000021']
    filtered_data = filtered_data[columns_of_interest]
    filtered_data['Sheet Name'] = sheet
    filtered_data['Description'] = sheet_description_dict.get(sheet, '')
    all_filtered_data.append(filtered_data)
    print('sheet number: ' + sheet)

final_data = pd.concat(all_filtered_data, ignore_index=True)

sheet number: Table_A3
sheet number: Table_A5
sheet number: Table_A7
sheet number: Table_A9
sheet number: Table_A11
sheet number: Table_A13
sheet number: Table_A15
sheet number: Table_A17
sheet number: Table_A19
sheet number: Table_A21
sheet number: Table_A23
sheet number: Table_A25
sheet number: Table_A27
sheet number: Table_A29
sheet number: Table_A31
sheet number: Table_A33
sheet number: Table_A35
sheet number: Table_A37
sheet number: Table_A39
sheet number: Table_A41
sheet number: Table_A43
sheet number: Table_A45
sheet number: Table_A47
sheet number: Table_A49
sheet number: Table_A51
sheet number: Table_A53
sheet number: Table_A55

In [6]:
percentage_respondents = final_data.drop(columns={
    'Response Breakdown ',
    'Percentage of respondents 2023/24 Lower estimate',
    'Percentage of respondents 2023/24 Upper estimate', 
    # '2023/24 No. of respondents',
    # '2023/24 Base',
    'LAD23 code'
}).set_index('Description')

percentage_respondents['Percentage of respondents 2023/24'] = percentage_respondents['Percentage of respondents 2023/24'].astype(float).round(0).astype(int)

# total = percentage_respondents.drop(columns={'Sheet Name'}).to_csv(os.path.join(OUT_DIR, 'articipation_survey_23_24_newcastle.csv'))
engagement_data = percentage_respondents.loc[percentage_respondents['Sheet Name'].isin(engagement)].drop(columns={'Sheet Name'}).to_csv(os.path.join(OUT_DIR, 'engagement_participation_survey_23_24_newcastle.csv'))
attendance_data = percentage_respondents.loc[percentage_respondents['Sheet Name'].isin(attendance)].drop(columns={'Sheet Name'}).to_csv(os.path.join(OUT_DIR, 'attendance_participation_survey_23_24_newcastle.csv'))
participation_data = percentage_respondents.loc[percentage_respondents['Sheet Name'].isin(participation)].drop(columns={'Sheet Name'}).to_csv(os.path.join(OUT_DIR, 'participation_survey_23_24_newcastle.csv'))

In [7]:
percentage_respondents

,Percentage of respondents 2023/24,2023/24 No. of respondents,2023/24 Base,Sheet Name
Description,,,,
Adults who engaged with arts in person,89,580,643,Table_A3
Art exhibition,26,181,643,Table_A5
"Theatre, musical, ballet or opera",35,236,643,Table_A7
Literature and poetry events,9,62,643,Table_A9
A cinema screening,55,351,643,Table_A11
A craft exhibition,9,56,643,Table_A13
A live music event,37,247,643,Table_A15
An arts festival,19,125,643,Table_A17
A street art event,7,46,643,Table_A19
A live dance event,6,35,643,Table_A21
A fashion show,2,10,643,Table_A23
A comedy event,12,77,643,Table_A25
An in-person e-sports event,3,15,643,Table_A27
Some other cultural event,2,11,643,Table_A29
Not attended any events,25,160,643,Table_A31
"Written stories, plays, or poetry",7,45,643,Table_A33
Read books or graphic novels,58,398,643,Table_A35
Written or performed music,9,61,643,Table_A37
"Painting, drawing",19,119,643,Table_A39
Crafts,14,98,643,Table_A41
Performed a drama / dance routine,2,13,643,Table_A43
Designed or programmed video games,2,10,643,Table_A45
Made films or videos,3,18,643,Table_A47
Photography,14,97,643,Table_A49
Read news in a printed newspaper,34,241,643,Table_A51
Other arts or creative activities,1,4,643,Table_A53
Not participated,26,150,643,Table_A55