In [1]:
from pathlib import Path
from zipfile import ZipFile

from tempfile import TemporaryDirectory

import pipeline_utils.db as database

In [129]:
RAW_DATA = Path('../raw')

In [130]:
ch_zip = ZipFile(RAW_DATA / 'company-data.zip')
filename = ch_zip.namelist()[0]

In [131]:
db = database.connect()

In [ ]:
with TemporaryDirectory() as d:
    companies = ch_zip.extract(filename, d)
    db.sql(f'''CREATE OR REPLACE TABLE CompanyData AS
            SELECT * FROM read_csv("{ companies }")''')

In [ ]:
db.sql("SELECT count(*) as 'Count of companies' FROM CompanyData;").df()

In [ ]:
cc_zip = ZipFile(RAW_DATA / 'charity-data.zip')
cc_area_zip = ZipFile(RAW_DATA / 'charity-area-data.zip')
cc_classification_zip = ZipFile(RAW_DATA / 'charity-classification-data.zip')

In [ ]:
with TemporaryDirectory() as d:
    c = cc_zip.extract(cc_zip.namelist()[0], d)
    ca = cc_area_zip.extract(cc_area_zip.namelist()[0], d)
    cc = cc_classification_zip.extract(cc_classification_zip.namelist()[0], d)

    db.sql(f'''
           
           CREATE OR REPLACE TEMP TABLE tCharities AS
            SELECT * FROM read_csv("{ c }", quote=NULL) WHERE date_of_removal IS NULL;
           CREATE OR REPLACE TEMP TABLE tCharityArea AS
            SELECT * FROM read_csv("{ ca }", quote=NULL);
           CREATE OR REPLACE TEMP TABLE tCharityClassification AS
            SELECT * FROM read_csv("{ cc }", quote=NULL);
            ''')

In [ ]:
db.sql( '''
        CREATE OR REPLACE TABLE tCharitiesScope AS
        SELECT *
          FROM tCharityArea a
          JOIN tCharityClassification c
            ON a.organisation_number = c.organisation_number
         WHERE a.geographic_area_description = 'Newcastle Upon Tyne City'
           AND c.classification_type = 'What'
           AND c.classification_code = '109';
       ''')

In [ ]:
db.query('''
         CREATE OR REPLACE TABLE Charities AS
            SELECT
                c.registered_charity_number,
                charity_name,
                latest_income,
                latest_expenditure,
                charity_contact_postcode,
                charity_contact_web,
                charity_company_registration_number,
         
            FROM tCharities c
            JOIN tCharitiesScope s
         ON s.organisation_number == c.organisation_number
         ''')

In [ ]:
db.query('''
         SELECT COUNT(*) AS 'Count of Charities' FROM Charities
         ;''').df()

In [ ]:
db.close()